// Navigation code here

.all-header{
    background-color: whitesmoke;
    border-bottom: solid 1px lightgrey;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    
}

.spacewalkers{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 50px
}

.nav-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: space-between;
    margin: auto;
    @media @phone{
        align-content: space-between;
        margin: auto;
      }

}


.header-img img{
    display: flex;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    @media @phone{
        flex-direction: column;
        width: 100%;
    }
}
